---
title: blog
---

<html>
<head>
    <title>Ntwali B. Toussaint notes</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>

    <meta name='description' content='Ntwali B. Toussaint blog/notes'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        quantum computing,
        quantum information,
        quantum algorithms,
        compilers,
        software development,
        operating systems,
        database management systems,
        system programming,
        computer science
    '>
    <meta name='author' content='
        Ntwali Bashige Toussaint,
        Ntwali B. Toussaint,
        Ntwali B.
    '>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div id='intro'>
            <p>
                In this blog, I keep notes of things I have learned so I can refer to them later.
                If I got something wrong, I hope someone kind can let me know.
                It is an added bonus if this blog is useful to someone else.
            </p>
            <p>
                I will blog mostly about software development, classical and quantum.
                Rarely but possibly about mathematics, physics, and computer science.
            </p>
            <p>
                You can reach me at <a href='mailto:ntwali.bashige@gmail.com'>ntwali.bashige@gmail.com</a>.
            </p>
        </div>
        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">
                            {% katexmm %}
                            {{ post.title }}
                            {% endkatexmm %}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date_to_long_string }}
                    </p>
                </div>
                <p class='post-subtitle'>
                    {% katexmm %}
                    {{ post.subtitle }}
                    {% endkatexmm %}
                </p>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div>
    </div>
</body>
</html>
